.title{
    color:firebrick;
}

.table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 800px;
}

.div_table{

}

tr, td {
    border: 3px solid darkgrey;
}

.block{
    position: absolute;
    display:none;
    border: none;

    
}
.holder:hover{
    background: bisque;
}

.holder:hover .block{
    display: block;
}