{% load static %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">

    <link href="{% static "style.css" %}" rel="stylesheet">

</head>

<body>

    <h1 class="title" align="center">Список кинофильмов</h1>

    <div>
        <form prefix="add" action="" method="post">{% csrf_token %}
        {{ form_add.as_table }}
            <button type="submit" name="add_button">Добавить</button>
        </form>

    </div>
    <div>
        <form prefix="delete" action="" method="post">
            {% csrf_token %}
            {{ form_del }}
            <input type="submit" name="delete_button" value="Удалить" />
        </form>

    </div>

    <div class="div_table" align="center">
        <table class="table" border="3px">
    <tr>
        <td>id</td>
        <td>Film name</td>
        <td>Release date</td>
        <td>Director</td>
        <td>Duration</td>
        <td>Rating</td>

    </tr>
        {% for person in query_results %}
            <tr class="holder">
                <td>{{ person.id }}</td>
                <td> {{person.film_name}} </td>
                <td>{{person.release_date}}</td>
                <td>{{person.director}}</td>
                <td>{{person.duration}}</td>
                <td>{{person.rating}}</td>

            </tr>
    {% endfor %}

        </table>


    </div>


</body>

</html>