{% load static %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">

    <link href="{% static "style.css" %}" rel="stylesheet">

</head>

<body id="bg" style="background-image: url('{% static "img/marvel.png"%}')">

    <h1 class="title" align="center">Films list</h1>

    <div class="div_operations">

        <div class="add_div">
            <div class="div_title"><p align="center">Add record</p></div>
            <form prefix="add" action="" method="post" class="add_form">{% csrf_token %}
            {{ form_add.as_p }}
                <p align="center">
                <button type="submit" name="add_button" class="add_button">ADD</button>
                </p>
            </form>
        </div>

        <div class="del_div">
            <div class="div_title"><p align="center">Delete record</p></div>
            <form prefix="delete" action="" method="post" class="del_form">
                {% csrf_token %}
                {{ form_del }}
                <p align="center">
                <input class="del_button" type="submit" name="delete_button" value="DELETE"/>
                </p>
            </form>

        </div>

    </div>

    <div class="div_table">

        <table class="table" border="3px">

            <tr class="table_title">

                <td>id</td>
                <td>Film name</td>
                <td>Release date</td>
                <td>Director</td>
                <td>Duration</td>
                <td>Rating</td>

            </tr>
            {% for person in query_results %}

                <tr class="holder">
                        <td>{{ person.id }}</td>
                        <td> {{person.film_name}} </td>
                        <td>{{person.release_date}}</td>
                        <td>{{person.director}}</td>
                        <td>{{person.duration}}</td>
                        <td>{{person.rating}}</td>
                </tr>
                {% endfor %}

        </table>

    </div>

</body>

</html>